.Pay {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  &__Left {
    border: 1px solid #ff5b00;
    padding: 5%;
    width: 66%;
    input,
    TextArea,
    .ant-select-selector {
      border: 1px solid #ff5b00 !important;
      color: black !important;
    }
    input,
    TextArea,
    .ant-select-selector:hover {
      border: 1px solid #ff5b00 !important;
    }
    .ant-row {
      display: inline;
    }
    &__Address {
      display: flex !important;
      justify-content: space-between !important;
      margin-bottom: 5%;
      &__select {
        width: 50% !important;
        margin-right: 10% !important;
      }
      &__select__Right {
        width: 50% !important;
      }
    }
  }
  &__Right {
    border: 1px solid #ff5b00;
    padding: 3%;
    width: 30%;
    &__Table {
      .ant-table-thead {
        th {
          background-color: white !important;
        }
      }
    }
  }
}
