.card {
    cursor: pointer;
    background: rgb(231, 231, 231);
    border-radius: 20px;
    margin: 2rem 2.5rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: rem 2rem;
    transition: all 0.3s ease;

}

.card:hover {
    transform: scale(1.1);
}

.card_image {
    width: 250px;
    height: 100px;
    
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    margin-top: 10px;
}

.card_info h2 {
    margin-bottom: 10px;
    color: black;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.card_info h3 {
    color: #272727;
    font-size: 18px;
    margin-left: 10px;

}