.Navbar-Admin {
  position: relative;
  &__Account {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 1% 2% 1% 0;
    background-color: silver;
  }
  &__Menu {
    height: 100%;
    position: fixed;
    width: 20%;
    background-color: white;
    &__Logo {
      .logo {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        text-align: center;
        &__animation {
          display: flex;
          width: 40%;
          height: 100%;
          margin-bottom: 40px;
        }
      }
      .logo::before {
        content: "";
        display: block;
        position: absolute;
        border-bottom: 2px solid black;
        height: 10px;
        top: 58px;
        width: 100%;
      }
    }
  }
}
