.table th {
  padding: 8px;
}

.table td {
  padding: 8px;
}

.container-admin {
  padding: 100px;
}

.HomePage-admin {
  height: 100%;
  width: 100%;
  display: flex;
  // .Navbar-admin{
  //   width: 20%;
  //   height: 100vh;
  //   background-color: white;
  //   float: left;
  // }
  .Container-admin {
    // width: 100%;
    // height: 100%;
    // background-color: #DADADA;
    // justify-content: center;
    // align-items: center;
  }
}
// .ant-layout-content{
//   width: 8% !important;
// }
.Container-Admin-product {
  // background-color: #DADADA;
  height: 100%;
  width: 100%;
  align-items: center;
  .Nodata {
    // height: 50%;
    // width: 30%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    svg{
    height: 50% !important;
    width: 28% !important;
    }
  }
  h3 {
    padding: 2% 0 0 5%;
  }
  .admin-container-table {
    font-size: 16px;
    margin: 10px 50px;
    .table {
      tbody {
        vertical-align: initial;
        tr {
          .category {
            width: 120px;
          }
        }
      }
    }
  }
  .create-product-button {
    width: 20%;
    background-color: white;
    color: black;
    margin-right: 50px;

    .iconadd {
      margin-right: 10px;
    }
  }
  .table {
    border-radius: 10px;
    background-color: #dadada;
    .admin-item-img {
      border-radius: 50%;
      object-fit: cover;
      width: 50px;
      height: 50px;
      margin: 1rem 2rem 0 0;
    }
    .admin-edit {
      text-decoration: none;
      color: red;
    }
    .admin-edit:hover {
      color: black;
      border-radius: 5px;
    }
    td {
      .admin-delete-btn {
        // margin-top: -10%;
        .Create-submit {
          // margin-top: -10%;

          background-color: white;
          color: red;
          border: 2px solid white;
        }
        .Create-submit:hover {
          border-radius: 5px;
          border: 1px solid white;
          color: #ff0000;
        }
      }
    }
  }
}

.HomeAdmin {
  // display: flex;
  width: 100%;
  height: 100%;
  background-color: #dadada;

  .Menu-Admin {
    height: 100%;
    position: fixed;
    width: 16%;
    background-color: white;
    .logo {
      display: flex;
      margin-right: 10px;
      text-decoration: none;
      position: relative;
      p {
        color: #ff0000;
        font-size: 20px;
        padding-top: 10%;
        font-weight: 800;
      }
    }
    .logo::before {
      content: "";
      display: block;
      position: absolute;
      border-bottom: 2px solid black;
      height: 10px;
      top: 70%;
      width: 104%;
    }

    .nav {
      text-decoration: none;
      color: black;
      border: 50%;

      .nav-link {
        color: black;
        background-color: #dadada;
        margin: 2px 10px;
        font-size: 13px;
      }

      .nav-link:hover {
        background-color: #dadada;
        color: black;
      }
    }
  }
}
.Container-Admin {
  padding: 50px 50px;
  background-color: #dadada;
}
.Container-Product {
  padding: 20px 10px;
  .Form-Create-Product {
    padding: 20px 10px;
  }
}
.button {
  display: flex;
}
.NavbarLogout {
  padding-top: 15px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
