.baner-container {
  width: 100%;
  margin: 0px;
  height: 200px;
  overflow: hidden;
  position: relative;
  .baner-Carousel {
    position: absolute;
  }
  // img{
  //   width: 110%;
  // }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-right {
  // animation: slideRight 3s linear inherit;
  transition: transform 3s linear;
}
