.ant-carousel .slick-prev, .ant-carousel .slick-next {
    display: block !important;
    z-index: 1;
    opacity: 1;
}

.Banner {
  position: relative;
  margin-top: 5%;
  &__right {
    position: absolute;
    width: 800px;
    justify-content: center;
    float: left;
    .item-image {
        height: 260px;
        lineHeight: 260px;
        textAlign: center;
      img {
        // height: 300px;
        // width: 84%;
      }
    }
    .ant-carousel {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-right {
  transition: transform 3s linear;
}
